/* Home Page */

.home-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/background/teambuilder.jpg);
    width: 100%;
    height: 500px;
    background-position: top -150px center;
    z-index: -1;
    position: absolute;
    border-bottom: 1px solid #8d8d8d;
}

.footer {
    text-align: center;
    padding: 25px;
    border-top: 1px solid #8d8d8d;
}

#search-fld {
    border-radius: 5px;
    overflow: hidden;
    border: 0;
    padding: 10px;
}

#search-btn {
    border-radius: 5px;
    overflow: hidden;
    color: white;
    background-color: #4474b4;
    border: 0;
    padding: 10px;
}

h1 {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-family: 'Ubuntu', sans-serif;
}

.home-search {
    text-align: center;
    position: relative;
}

.search-cont {
    height: 500px;
}

.search-div {
    display: block;
    bottom: 0;
    position: relative;
    top: 300px;
}

.about-section {
    padding-bottom: 30px;
}

.about {
    padding-top: 10px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.about-img {
    width: 250px;
}


@media (min-width: 550px) {

    .home-search {
        text-align: center;
        position: relative;
        top: 300px;
    }



    /*.about {
        top: 400px;
    }*/
    
    input {
        font-size: 24px;
        line-height: 30px;
    }

    #search-fld {
        width: 400px;
    }

    h1 {
        font-size: 60px;
    }

    /*.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;*/

}

@media (max-width: 549px){

    .home-search {
        top: 146px;
    }

    h1 {
        font-size: 45px;
    }

    #search-fld {
        width: 240px;
    }

    /*.footer {
        position: relative;
        top: 600px;
    }*/
}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}