#profile-header {
    border-radius: 0;
}

#player-name {
    color: white !important;
    text-shadow: 2px 2px 2px #000000;
}

sum-icon {
    border-radius: 5px;
}

.tc-table {
    width: 100% !important;
}

.tc-tr {
    height: 60px;
}

.s-icon-div {
    margin: 15px;
    position: relative;
    float: left;
    width: 128px;
    height: 128px;
}

.s-lvl {
    line-height: 30px;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.centered {
    text-align: center;
}
