#profile-header {
    border-radius: 0;
}

#player-name {
    color: white !important;
    text-shadow: 2px 2px 2px #000000;
}

#sum-icon {
    border-radius: 10px;
}

.matches {
    padding-right: 0;
}

.w-l-span {
    font-size: 16px;
    font-weight:bold;
    float:left;
    position: relative;
    left: 5px;
    bottom: 0px;
}

.mc1 {
    float: left;
    height: 80px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    top: 10px;
}

.mc2 {
    width: 100px;
    height: 80px;
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    text-align: center;
    top: 10px;
    position: relative;
}

.mc3 {
    padding-top: 10px;
    height: 80px;
    width: 120px;
    float: left;
    position: relative;
}

.mc4 {
    float: left;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80px;
    position: relative;
    top: 10px;;
}

.mc5 {
    float: left;
    height: 88px;
    line-height: 16px;
    width: 250px;
    margin-left: 5px;
}

.mc6 {
    float: right;
    width: 40px;
    height: 40px;
    position: relative;
    left: 10px;
    bottom: 18px;
    justify-content:center;
    text-align:center;
    border-top: 1px solid rgba(128, 128, 128, 0.50);
    border-left: 1px solid rgba(128, 128, 128, 0.50);
}

.xpnd-a {
    line-height: 40px;
    width: 40px;
}


/*Match details*/
.match-details {
    background-color: gray;
    display: none;
    width: 100%;
    margin: 0;
    height: 500px;
}

.w-l-details-hd {
    margin: 0;
    height: 25px;
    border-top: 1px solid rgba(128, 128, 128, 0.50);
    height: 25px;
}

.team1-details {
    margin: 0;
    height: 225px;
}

.team2-details {
    margin-bottom: 10px;
    height: 225px;
}

.details-header {
    height: 25px;
}

.md-c1 {
    width: 180px;
    text-align: center;
    display: inline-block;
}

.md-c2 {
    width: 175px;
    text-align: center;
    display: inline-block;
}

.md-c3 {
    width: 75px;
    text-align: center;
    display: inline-block;
}

.md-c4 {
    width: 75px;
    text-align: center;
    display: inline-block;
}

.md-c5 {
    width: 75px;
    text-align: center;
    display: inline-block;
}

.md-c6 {
    width: 40px;
    text-align: center;
    display: inline-block;
}

.md-s1 {
    position: absolute;
}

.md-s2 {
    position: relative;
    top: 10px;
}




.sm-pl-link {
    color: black;
    width: 100px;
    font-size: 16px;
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.i-img1 {
    margin-bottom: 4px;
}

.team1-players {
    float: left;
    display: block;
    width: 120px;
}

.team2-players {
    float: right;
    display: block;
    width: 120px;
}

.kda-txt {
    font-size: 20px;
    font-weight: bold;
}

.kda-avg {
    font-size: 16px;
}

.pl-icon {
    float: left;
    margin-right: 5px;
}

.c-name {
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}

.s1 {
    float: right;
}

.s2 {
    float: right;
    position: absolute;
    bottom: 3px;
    right: 0;
    margin-top: 4px;
}

.win-lose {
    margin-bottom: 0;
    margin-top: 10px;
    height: 25px;
}

.defeat-hd {
    background-color: #e1a4a4;
}

.defeat-bg {
    background-color: #edc1c1;
}

.victory-hd {
    background-color: #7695d4;
}

.victory-bg {
    background-color: #9eb4e2;
}

.match-row {
    padding: 10px;
    height: 120px;
}

.tc-table {
    width: 100% !important;
}

.tc-tr {
    height: 60px;
}

.s-icon-div {
    margin: 15px;
    position: relative;
    float: left;
    width: 128px;
    height: 128px;
}

.s-lvl {
    line-height: 30px;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    text-shadow: 2px 2px 2px #000000;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'PT Sans', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.centered {
    text-align: center;
}

navbar-brand {
    line-height: 35px;
}
