#profile-header {
    background: url("http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg") center top no-repeat;
    border-radius: 0;
}

#player-name {
    color: white !important;
    text-shadow: 2px 2px 2px #000000;
}
/*
.s-icon {
    position: relative;
    float: left;
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
    width: 128px;
    height: 128px;
}

.s-icon div {
    bottom: 0;
    text-align: center;
    position: absolute;
    color: #eee;
    background: rgba(0,0,0,.5);
    width: 100%;
    line-height: 30px;
    text-shadow: 0 0 2px #000;
}
*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.centered {
    text-align: center;
}
