#profile-header {
    border-radius: 0;
}

#player-name {
    color: white !important;
    text-shadow: 2px 2px 2px #000000;
}

#sum-icon {
    border-radius: 10px;
}

.matches {
    padding-right: 0;
}

.mc1 {
    float: left;
    height: 80px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.mc2 {
    width: 100px;
    height: 80px;
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    text-align: center;
}

.mc3 {
    padding-top: 10px;
    height: 80px;
    width: 120px;
    float: left;
    position: relative;
}

.mc4 {
    float: left;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80px;
}

.mc5 {
    float: left;
    height: 88px;
    line-height: 16px;
    width: 270px;
    margin-left: 5px;
}

.sm-pl-link {
    color: black;
    width: 100px;
    font-size: 16px;
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.i-img1 {
    margin-bottom: 4px;
}

.team1-players {
    float: right;
    display: block;
    width: 130px;
}

.team2-players {
    float: right;
    display: block;
    width: 130px;
}

.kda-txt {
    font-size: 20px;
}

.kda-avg {
    font-size: 16px;
}

.pl-icon {
    float: left;
    margin-right: 5px;
}

.c-name {
    text-align: center;
}

.s1 {
    float: right;
}

.s2 {
    float: right;
    position: absolute;
    bottom: 3px;
    right: 0;
    margin-top: 4px;
}

.defeat {
    background-color: #e1a4a4;
    margin-bottom: 0;
    margin-top: 10px;
    height: 25px;
}

.match-row {
    background-color: #edb5b5;
    padding: 10px;
    height: 120px;
}

.tc-table {
    width: 100% !important;
}

.tc-tr {
    height: 60px;
}

.s-icon-div {
    margin: 15px;
    position: relative;
    float: left;
    width: 128px;
    height: 128px;
}

.s-lvl {
    line-height: 30px;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    text-shadow: 2px 2px 2px #000000;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.centered {
    text-align: center;
}

navbar-brand {
    line-height: 35px;
}
