/* Header */
#profile-header {
    margin-top: 95px;
    margin-bottom: 25px;
}

.name-div {
    float: left;
}

#sum-icon {
    border-radius: 10px;
    border: 0px solid white;
    margin: 15px;
    width: 128px;
    height: 128px;
    float: left;
}

#player-name {
    color: white;
    text-shadow: 2px 2px 2px #000000;
    margin-bottom: 0;
}

.s-lvl {
    color: white;
    text-shadow: 2px 2px 2px #000000;
    font-size: 20px;
}

.stats-col {
    padding-left: 0;
    padding-right: 0;
}

/* Ranked Stats Box */
.rank-stats {
    background-color: white;
    border: 1px solid #8d8d8d;
    padding: 0;
    padding-bottom: 5px;
    margin-bottom: 10px;
    height: 143px;
}

.rank-icon {
    position: relative;
    float: left;
    margin: 15px;
    margin-top: 0;
    margin-left: 30px;
}

.league-div {
    float: left;
    position: relative;
    top: 35px;
}

.league-span {
    display: block;
    color: #2e78c8;
    font-weight: bold;
    font-size: 20px;
}

.w-l-span {
    font-size: 16px;
    font-weight: bold;
    display: block;
}

.matches {
    padding-right: 0;
    padding-left: 10px;
}



/* Top Champs */
.top-champs {
    background-color: white;
    border: 1px solid #8d8d8d;
    padding: 0;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.top-champs-hd {
    background-color: #eaeaea;
    border-bottom: 1px solid #8d8d8d;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
}

.top-champs-title {
    font-size: 20px;
}

.tc-table {
    width: 100%;
}

.tc-tr {
    height: 60px;
}

.tc-name {
    color: black;
    font-size: 18px;
}

/*Recent Matches*/
.recent-match-hd {
    background-color: #eaeaea;
    border: 1px solid #8d8d8d;
    height: 46px;
    padding: 5px;
    text-align: center;
}

.rct-title {
    font-size: 20px;
    float: left;
    padding-left: 10px;
    position: relative;
    top: 2px;
}

.rct-wl {
    font-size: 25px;
}

.rct-kda-div {
    float: right;
    margin-right: 10px;
}

.rct-kda-lbl {
    font-size: 18px;
    margin-right: 3px;
}

.rct-kda {
    font-size: 25px;
}

/*Match History*/
.mc1 {
    float: left;
    height: 80px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    top: 10px;
}

.mc2 {
    width: 100px;
    height: 80px;
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    text-align: center;
    top: 10px;
    position: relative;
}

.mc3 {
    padding-top: 10px;
    height: 80px;
    width: 120px;
    float: left;
    position: relative;
}

.mc4 {
    float: left;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80px;
    position: relative;
    top: 10px;;
}

.mc5 {
    float: left;
    height: 88px;
    line-height: 16px;
    width: 250px;
    margin-left: 5px;
}

.mc6 {
    float: right;
    width: 40px;
    height: 40px;
    position: relative;
    left: 10px;
    bottom: 18px;
    text-align:center;
    border-top: 1px solid #8d8d8d;
    border-left: 1px solid #8d8d8d;
    font-size: 20px;
}

.xpnd-a {
    line-height: 40px;
    width: 40px;
}


/*Match details*/
.match-details {
    background-color: gray;
    display: none;
    width: 100%;
    margin: 0;
    height: 550px;
}

.w-l-details-hd {
    margin: 0;
    height: 25px;
    border-top: 1px solid rgba(128, 128, 128, 0.50);
    height: 25px;
}

.team1-details {
    margin: 0;
    height: 250px;
}

.team2-details {
    margin-bottom: 10px;
    height: 250px;
}

.details-header {
    height: 25px;
    text-align: center;
}

.details-player {
    margin-bottom: 4px;
}

.md-c1 {
    width: 200px;
    padding-left: 20px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.md-c2 {
    width: 200px;
    text-align: center;
    display: inline-block;
}

.md-c3 {
    width: 85px;
    text-align: center;
    display: inline-block;
}

.md-c4 {
    width: 65px;
    text-align: center;
    display: inline-block;
}

.md-c5 {
    width: 80px;
    text-align: center;
    display: inline-block;
}

.md-c6 {
    width: 95px;
    text-align: center;
    display: inline-block;
}

.md-s1 {
    position: absolute;
}

.md-s2 {
    position: relative;
    top: 10px;
}




.sm-pl-link {
    color: black;
    width: 100px;
    font-size: 16px;
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.i-img1 {
    margin-bottom: 4px;
}

.team1-players {
    float: left;
    display: block;
    width: 120px;
}

.team2-players {
    float: right;
    display: block;
    width: 120px;
}

.kda-txt {
    font-size: 20px;
    font-weight: bold;
}

.kda-avg {
    font-size: 16px;
}

.pl-icon {
    float: left;
    margin-right: 5px;
}

.c-name {
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}

.s1 {
    float: right;
}

.s2 {
    float: right;
    position: absolute;
    bottom: 3px;
    right: 0;
    margin-top: 4px;
}

.win-lose {
    margin-bottom: 0;
    margin-top: 10px;
    height: 25px;
}

.mh-wl-span {
    padding-left: 5px;
    font-weight: bold;
    font-size: 18px;
}

.defeat-hd {
    background-color: #e1a4a4;
}

.defeat-bg {
    background-color: #edc1c1;
}

.victory-hd {
    background-color: #7695d4;
}

.victory-bg {
    background-color: #9eb4e2;
}

.match-row {
    padding: 10px;
    height: 120px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #d5d5d5;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

.champ-hd {
    background-size: 100%;
    background-position: 0 -200px;
    width: 100%;
    height: 300px;
    position: absolute;
    z-index: -1;
    border-bottom: 1px solid #8d8d8d;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.centered {
    text-align: center;
}

navbar-brand {
    line-height: 35px;
}
